.bloc_content_cat{
  max-width: 900px;
  width: 100%;
  /* background: lime; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bloc_cat{
  width: 150px;

  /* background: lightgrey; */
  /* text-align: center; */
}
.dropdown-toggle{
  margin: 2px;
  padding-left: 5px;

}
h6{
  line-height: 40px;
}
.dropdown-menu{
      border-radius: 5px;
}
h4{
  text-align: center;
  background: #295173;
  line-height: 50px;
  color: #F25C19;
  border-radius: 0 0 5px 5px;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;

}
