
.logo-sct{
  position: absolute;
  left: 87%;
  padding-top: 20px;
}
.presentation-profil-sct{
  background: #F5F5F2;
  max-width: 850px;
  width: 70%;
  /* margin: auto; */
  padding: 20px;
  position: relative;
}
.hrclass{
  max-width: 695px;
  width: 100%;
  margin: 0;
}

h2{
  font-size: 250%;
  padding: 0;
  margin: 0;
}
.p {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 160%;
  margin-bottom: 0.5rem;
}
hr{
  margin: auto;
}
.textePresentation {
  text-transform: uppercase;
}
.textePresentation h2 {
  color: white;
}
.texteretourAnnuaire {
  text-transform: uppercase;
  font-size: 150%;
  width: 100%;
  color: #F25C19;
  padding-top: 20px;
  font-family:  Arial, Helvetica, sans-serif;
}
.textretour{
  text-align: right;
}
.fa-user,.fa-address-card,.fa-map-marker-alt,.fa-map-signs,.fa-phone-square,.fa-globe,.fa-envelope,.fa-edit{
  color: #2A5073;
}
.template-sct{
  position: relative;
  max-width: 1280px;
  width: 100%;
}
.img_annuaire_pub{
  width: 30%;
  height: auto;
  position: absolute;
  top:14px;
  left:68%;
}
/* @media screen and (max-width: 1235px) {
.img_annuaire_pub{
  display:none;
}
} */
