.bloc_content_cat{
  max-width: 1000px;
  width: 100%;
  /* background: lime; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2{
  font-size: 250%;
}
.textePresentation h2 {
  color: white;
}
.bloc_cat{
  width: 190px;
background:linear-gradient(#53b0ff ,#295173);
  margin: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  /* background: lightgrey; */
  /* text-align: center; */
}
@keyframes move{
  0%, 100%{transform:translateY(-10px);}
  50%{transform:translateY(0);}
}

.dropdown-toggle{
  margin: 2px;
  padding-left: 5px;
/* background:linear-gradient(#da4df8 ,#9b0db9); */
}
h6{
  line-height: 40px;
}
.dropdown-menu{
    border-radius: 5px;
    background:linear-gradient(#ffffff ,#a8a8a8);
    color: black;
    margin-top: 5px;
}

.dropdown-menu li a{
  color:black;
  font-size: 0.8em;
  border-bottom:1px dotted black;
  /* border-top:1px dotted black; */
}

.dropdown-menu li a:hover{
  background: transparent;
  color:#EB7900;
}

h5{
  text-align: center;
  /* background: #295173; */
  line-height: 50px;
  color: #F25C19;
  border-radius: 0 0 5px 5px;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;

}
/* Styles pictogrammes SVG + rollover */

.picto-img {
  width: 10%;
  height: auto;
}
.picto-box {
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity:1 !important;
  stroke-opacity:1 !important;
}
.pictoPresentation {
  /* padding-left: 20%; */
  padding-left: 0%;
}
.pictoPresentation svg {
  padding-bottom: 5%;
  padding-top: 5%;
}



/* test dropdown */
