.col-md-8 {
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.col-md-6 {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 0;
}
.col-md-4 {
  padding: 20px 0 0 0;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  line-height:1.2rem;
  font-size: 1.0rem;
  max-width: 400px;
  width: 100%;
  color: #99D420;
}
.btn-primary:hover {
  background: #F25C19;
  }
.btn-primary {
  margin-bottom: 10px;
}
