
.template-sct {
max-width: 300px;
width:100%;
margin: 5px;
}
.logo-sct {
padding-top: 20px;
}
.logo {
  text-align: center;
  background:linear-gradient(#295173,#53b0ff);
  border: 1px solid transparent;
  padding-bottom: 30px;
  border-radius: 10px 10px 0 0 ;
}
.presentation-profil-sct {
  background: lightgrey;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
}
.pageSociete {
  width: 100%;
}
h1 {
  min-height: 50px;
  padding-top: 10px;
  line-height: 1.5rem;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background: #99D420;
  font-size: 1.5rem;
  text-align:center;
  vertical-align: middle;
  color: white;

}
h2 {
  min-height: 30px;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  text-align:center;
  vertical-align: middle;
  /* margin-bottom: 30px;
  padding: 10px 25px 10px 0; */
}
.txtpres2 {
  margin-bottom: 10px;
}
.p {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.85rem;
  padding-left: 10px;
  line-height: 1.0rem;
  margin-bottom: 10px;
}
.titreContent {
  width: 100%;
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.sidebarContent {
    float: left;
    padding-top: 40px;
    background: #a4a4a4;
    width: 20%;
    height: 100%;
}
.btn-primary {
  margin-top: 20px;
}
.description {
  line-height: 20px;
  text-decoration:underline;
}
a {
  margin-bottom: 5px;
}
.link {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family:
}
.link a {
  margin:0px;
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.btn-danger {
  background-color: #ec5c1b;
  border-color: #ec5c1b;
}
.btn-primary {
  background-color: #295173;
  border-color: #295173;
}
.fa-user,.fa-address-card,.fa-map-marker-alt,.fa-map-signs,.fa-phone-square,.fa-globe,.fa-envelope,.fa-edit{
  color: #2A5073;
}
.picto-img {
  width: 10%;
  height: auto;
}
.picto-box {
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity: 1 !important;
  stroke-opacity: 1 !important;
}
.pictoPresentation {
  /* padding-left: 20%; */
  padding-left: 0%;
}
.pictoPresentation svg {
  padding-bottom: 5%;
  padding-top: 5%;
}
