/* Feuille de styles   */

<<<<<<< HEAD

=======
>>>>>>> 9341fe0349ae48e26bb181cd3b7e76ae5c1c8bd7
.SectionFichesSte {
max-width: 300px;
width:100%;
margin: 5px;
}
.fichePresentSte {
  background: lightgrey;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
}
.logoBoxSte {
  text-align: center;
  background:linear-gradient(#295173,#53b0ff);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px 10px 0 0 ;
}
.ImglogoSte {
padding-top: 20px;
}
h1 {
  min-height: 50px;
  padding-top: 10px;
  line-height: 1.5rem;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background: #99D420;
  font-size: 1.5rem;
  text-align:center;
  vertical-align: middle;
  color: white;

}
h2 {
  width: 100%;
  min-height: 30px;
  display: inline-table;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #000;
  font-size: 1.2rem;
  text-align:center;
  vertical-align: middle;
  /* margin-bottom: 30px; */
  padding: 10px;
  background: #99D420;
}
.textFichSte {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.85rem;
  padding-left: 10px;
  line-height: 1.0rem;
  margin-bottom: 10px;
}
.titreContent {
  width: 100%;
}
.description {
  line-height: 20px;
  text-decoration:underline;
}
.linkBtn {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.linkBtn a {
  margin:0px;
  text-transform: uppercase;
}
/* Styles boutons fiches sociétés (modifier | supprimer) */
.btn-primary {
  margin-top: 20px;
  background-color: #295173;
  border-color: #295173;
}
.btn-danger {
  background-color: #ec5c1b;
  border-color: #ec5c1b;
  text-transform: uppercase;
}
/* Styles des iônes des champs de sociétés */
.fa-user,.fa-address-card,
.fa-map-marker-alt,
.fa-map-signs,.fa-phone-square,
.fa-globe,.fa-envelope,.fa-edit{
  color: #2A5073;
}
/* Styles des pictos dans la sidebar */
.picto-box {
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
/* a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity: 1 !important;
  stroke-opacity: 1 !important;
} */
.pictoSidebarLeft svg {
  padding-bottom: 0;
  padding-top: 10%;
  padding-left: 0;
}
