.h5 {
  background: #295173;
  padding-left: 10px;
  line-height: 40px;
  color:#F25C19;
}
.sectionPresentation{
  padding-left: 0px;
  height: 613px;
}
p {
  padding-left: 10px;
}
h2 {
  font-size: 250%;
}
.textePresentation h2 {
  color: white;
}
