/* FEUILLE DE STYLES PRINCIPALE */
/*********** Styles pour écran (screen) ***********/
html {
  font-size: 100%;
  height: 100%;
}

body {
  /* min-height: 100%; */
  /* min-height: 100vh; */
  min-height: 100%;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  color: #000;
  background: #dcdcdc url('../img/picto/fd-pictos-outils-couleur-fd-blanc.png');
}
#wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  border-right: #71767f 1px solid;
  border-left: #71767f 1px solid;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}
#header {
  position: relative;
  height:100px;
  width:100%;
  background: #e6e6e6;
  line-height:100px;
  text-align:center; /* centrage horizontal */ }
}
h1#baseline {
  font-family: 'pattayaregular', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  min-height: 30px;
  padding: 20px 5px;
  vertical-align: middle;
  color: #9EA5B2;
}
#logo-entete {
  position: absolute;
  width: 16%;
  z-index: 10;
  overflow: visible;
  top: 25px;
  left:25px;
}
#logo {
  border: #e6e6e6 4px solid;
  background: #295173;
  max-width: 100%;
  min-width: 160px;
  height: auto;
}

/* Styles pour le menu haut principal */

#menuhp {
  height: 100px;
  width: 80%;
  float: left;
  margin-left: 20%;
}
#navhp {
  width: 100%;
  height: 100px;
  vertical-align:middle;
  display:inline-block;
}
#menuhptop {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #295173;
}

ul#navhp {
  list-style: none outside none;
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 40px;
}
#navhp li {
  display: inline;
  margin: 10px 5px;
  font-size: 1.0rem;
  line-height: 1.15rem;
  height: 30px;
}
#login {
  width: 14%;
  float: left;
}
#navhp li a {
  color: #295173;
  padding: 5px;
}
#navhp li a:hover {
  text-decoration: none;
  background-color: #efefef;
  border-radius: 5%;
}
#navhp li.active a {
  text-decoration: none;
  color: #ec5c1b;
}

/* Styles pour le Flexslider 2 */

.flexslider {
  position: relative;
  padding: 0;
  border: 0px;
}
#compteur {
  position: absolute;
  overflow: visible;
  z-index: 15;
  top : 25px;
  right: 25px;
  max-width: 100%;
  min-width: 50px;
  height: auto;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 400%;
  text-transform: uppercase;
  text-align:center;
  line-height:1.8rem;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}
#compteur p {
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 30%;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}

/* Styles pour le formulaire de recherche sur HP */

div#search-box {
  width: 100%;
  padding: 5px;
  background: #99D420;
  min-height: 70px;
  border-bottom: #ec5c1b solid 4px;
}
div#form-search-hp {
  width: 80%;
  margin: 10px auto;
  vertical-align: middle;
}
input {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
input.form-control.col-sm-5 {
  padding:5px;
}
.form-group {
  margin-bottom:10px;
}
.metier {
  float: left;
}

/* Styles des blocs services */

#main-services {
  width: 76%;
  float: left;
  margin-right: 2%;
  min-height: 600px;
}
section#services {
  width: 100%;
}
#first-service-box {
  margin-left: 2%;
}
.service-box {
  float: left;
  width: 23%;
  margin-right: 1.5%;
}
.bloc-text {
  width: 100%;
}
h3 {
  font-size: 1.1rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
div .bloc-text p {
  font-size: 0.9rem;
  text-align: center;
}

/* HP - Styles des pictos SVG avec rollover */

.picto-box {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.picto-box svg {
  width: 100%;
  max-width: 120px;
  min-width: 50px;
  height: auto;
  border: 4px solid #e6e6e6;
  border-radius: 50%;
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity:1 !important;
  stroke-opacity:1 !important;
}

/* Styles pour la Section actualités */

section#actualites {
  width: 100%;
  margin: 10px 10px;
  clear: left;
  float: left;
}
.separator{
  width: 100%;
  border-top: 2px solid #c9c9c9;
  padding:0.5% 1%;

}
h2 {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  min-height: 30px;
  padding: 0 auto;
  vertical-align: middle;
  margin: 10px 0;
}
.first-actu-box {
  margin-left: 2.5%;
  /* margin-top: 5px; */
}
.actu-box {
  float: left;
  width: 31%;
  margin-right: 1.5%;
}
.bloc-text {
  width: 100%;
  margin-top: 10px;
}
div .bloc-text p {
  font-size: 0.8rem;
  text-align: center;
}
.img-actu-box {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.img-actu-box img {
  width: 100%;
  height: auto;
  border: 1px solid #9EA5B2;
  border-radius: 3%;
}
#last-actu-box {
  margin-right: 0 !important;
}

/* Styles pour la Sidebar de droite */

aside#flux-RSS {
  width: 22%;
  float: left;
  /* background: #e5e5e5; */
  min-height: 600px;
  height: auto;
  padding: 8px;
  margin-top: 15px;
  border-left: 2px solid #c9c9c9;
}
.h3_rss {
  font-size:1.0rem;
  background:#295173;
  color:white;
  padding: 5px;
}
.p_rss{
  font-size:110%;
  text-align: center;
  border-bottom: 2px dotted #c9c9c9;
}
.logopub{
  /* margin-top: 30px; */
  border: 1px solid #295173;
  margin-left: 2%;
}

/* Styles du footer (bas de page) */

#footer {
  clear:both; /* forcer l’affichage sous le contenu et la colonne */
  background: #295173;
  min-height: 100px;
  padding: 25px;
  width: 100%;
  max-width: 1280px;
}
.footerLinks {
  width: 50%;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  float: left;
}
.footerOneColText {
  float: left;
  width: 32%;
  border-right: #33668C 1px solid;
  margin-right: 1%;
}
.footerOneColTitle {
  font-size: 0.9rem;
  color: #99D420;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
}
.footerLinkText {
  color: #CCCCCC;
  line-height: 1.0rem;
  margin-bottom: 0.5rem;
}
.footerLinkText a {
  color: #CCCCCC;
  line-height: 0.8rem;
  margin-bottom: 0.5rem;
}
.footerLinkText a:hover {
  color: #fff;
  text-decoration: none;
}

/* Carte de l'Eure du footer */

#footerMap {
  width: 50%;
  float:right;
  height: 220px;
  min-width: 320px;
  margin-bottom: 20px;
}
#footerIframe {
  border: 0;
  width: 100%;
  height: 100%;
}

/* styles des logos du footer */

.footerLogos {
  margin-top: 10px;
  /* width: 100%; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}
.footerLogos img {
  max-height: 60px;
  width: auto;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 4%;
}
.footerLogos a {
  /* max-width: 188px; */
  text-align: center;
  max-width: 190px;
}

/****************************/
/* STYLES PAGES INTERIEURES */
/****************************/

/* Structure main + sidebar à gauche pour pages */

#mainContainerPage{
  overflow: auto;
  background: #fff url('../img/motif/motif-sidebar-left-bleu-300px.png') repeat-y;
}
.sidebarLeft {
    float: left;
    padding-top: 40px;
    width: 20%;
}
.mainContentRight {
  float: right;
  min-height: 685px;
  background: #fff;
  width: 80%;
}

/* Pictos dans la sidebar left */

.pictoSidebarLeft svg {
  margin-top: 5%;
}
p.labelPicto {
  font-size: 0.85rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding:0px;
  margin: 0px;
}

/* boutons bootstrap modifiés (modifier | supprimer) */

.btn-primary {
  margin-top: 20px;
  background-color: #295173;
  border-color: #295173;
}
.btn-danger {
  background-color: #ec5c1b;
  border-color: #ec5c1b;
  text-transform: uppercase;
}

/* Titres des pages intérieures */

h1#titlePageInt {
  width: 100%;
  min-height: 50px;
  padding-top: 12px;
  line-height: 1.5rem;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background: #99D420;
  font-size: 1.5rem;
  text-align:center;
  vertical-align: middle;
  color: white;
}
h2#titlePageInt {
  width: 100%;
  min-height: 30px;
  display: inline-table;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #000;
  font-size: 1.2rem;
  text-align:center;
  vertical-align: middle;
  /* margin-bottom: 30px; */
  padding: 10px;
  background: #99D420;
}

/* PAGE ANNUAIRE DES SOCIETES */

h5.PgAnnu {
  width: 100%;
  text-align: center;
  /* line-height: 1.2rem; */
  color: #F25C19;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.FlexBoxPgAnnu {
  width: 96%;
  min-height: 600px;
  margin: auto auto;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}
.PgAnnuBlocCat {
  float: left;
  margin:1%;
  background:linear-gradient(#53b0ff ,#295173);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.PgAnnuBlocCat .dropdown-item:link {
  line-height: 30px;
}
.dropdown-menu li a {
  color: #000;
  font-size: 0.9em;
  border-radius: 10px;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  border-bottom: 3px solid #EB7900;
}
.dropdown-menu li a:hover {
  background: transparent;
  color:#EB7900;
}
.dropdown-toggle {
  padding:0px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}
/* PAGE PROFIL VOS SOCIETES */

/* Icônes des champs de sociétés */

.SectionFichesSte {
  width: 96%;
  min-height: 540px;
  margin: auto auto;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}
.fichePresentSte {
  position: relative;
  background: lightgrey;
  max-width: 300px;
  margin: 1%;
  border-radius: 10px;
  margin-bottom: 30px;
  /* clear: both;
  overflow: hidden; */
}
.logoBoxSte {
  text-align: center;
  background:linear-gradient(#295173,#53b0ff);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#ficheBoxSte {
  width: 100%;
  margin-bottom: 80px;
}
.ImglogoSte {
padding-top: 20px;
}
.textFichSte {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 0.85rem;
  padding-left: 10px;
  line-height: 1.0rem;
  margin-bottom: 10px;
}
.description {
  line-height: 20px;
  text-decoration:underline;
}
.linkBtn {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  margin-top: 30px;
}
.linkBtn a {
  margin: 0px;
  text-transform: uppercase;
}
.fa-user,.fa-address-card,
.fa-map-marker-alt,
.fa-map-signs,.fa-phone-square,
.fa-globe,.fa-envelope,.fa-edit {
  color: #2A5073;
}

/* STYLES PAGE PRESENTATION */

h5.pgPresent {
  background: #295173;
  padding-left: 10px;
  line-height: 40px;
  color:#99D420;
}
/* .asidePresentation {
  float: left;
  background: #a4a4a4;
  width: 20%;
  height: auto;
} */
/* .sectionPresent {
  float: left;
  width: 80%;
  padding-left: 0;
  background:#E6E6E6;
  font-size:1.6em;
  height: auto;
} */
.boxPresent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p.txtPresent {
  padding: 0 15px;
  font-size:1.05rem;
}
em.italic {
  font-style: italic;
}
ul.listPgPresent {
 list-style: square inside url('../img/picto/puce-fleche.png');
 padding-left: 2.5%;
 font-size:1.05rem;
}
ul.listPgPresent a, p.txtPresent a {
  background: #E5E5E5;
  border-radius: 3px;
  padding: 0px 3px;
  color: #000;
  text-decoration: none;
}
ul.listPgPresent a:hover, p.txtPresent a:hover {
  background: #B3ED26;
  border-radius: 3px;
  padding: 0px 3px;
  color: #000;
}
.pictoPresentation {
  padding-left: 20%;
}
.pictoPresentation svg {
  padding: 5% 0;
}

/********** STYLES SPECIAUX **********/

.clearfix {
  content: ""; /* Important pour générer la séparation. */
  display: table;
  clear: both;
}

/* Surcharges Bootstrap */

.dropdown-item:link { /* hauteur des interlignes des boîtes à liste */
  line-height: 20px;
}
.width100 { /* largeur des alertes à 100% */
  width:100%;
  text-align:center
}
.alert-danger { /* Taille de la police message d'alert */
  font-size: 1.2rem;
  color: tomato;
}

/*********** Media Queries ***********/
@media screen and (max-width: 1050px) {

    #header {
      position: relative;
      height: 170px;
      width: 100%;
      line-height: 100px;
      text-align: center;
    }

    #logo-entete {
      position: absolute;
      width: 25%;
      z-index: 10;
      overflow: visible;
      top: 15px;
      left:15px;
    }

    #navhp li {
      margin: 6px 6px;
      font-size: 0.75rem;
      height: 25px;
    }

    #compteur {
      top : 20px;
      right: 20px;
      max-width: 100%;
      height: auto;
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      line-height:1.3rem;
      font-size: 250%;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
    #compteur p {
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      font-size: 35%;
      color: #ec5c1b;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
    #footerMap {
      width: 100%;
      clear: both;
      /* float:auto; */
      height: 350px;
      /* min-width: 320px; */
      /* margin-bottom: 20px; */
    }
    .footerLinks {
      width: 100%;
      clear: both;
      /* font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif; */
      font-size: 0.65rem;
      /* float: left; */
    }
    .footerOneColTitle {
      font-size: 0.75rem;
      /* color: #99D420;
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif; */
    }
    aside#flux-RSS {
      width: 100%;
      clear: both;
      /* background: #e5e5e5; */
      /* min-height: 600px;
      height: auto;
      padding: 8px;
      margin-top: 15px;
      border-left: 2px solid #c9c9c9; */
    }
    #main-services {
      width: 100%;
      clear: both;
      margin-right: 0;
      min-height: 600px;
    }
}

@media screen and (max-width: 790px)
{

}

@media screen and (max-width: 590px)
{

}
