/* FEUILLE DE STYLES PRINCIPALE */
/*********** Styles pour écran (screen) ***********/
html {
  font-size: 100%;
}
body {
  min-height: 100%;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  color: #000;
  background: #dcdcdc url('../img/picto/fd-pictos-outils-couleur-fd-blanc.png');
}
#wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  border-right: #71767f 1px solid;
  border-left: #71767f 1px solid;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}
#header {
  position: relative;
  height:100px;
  width:100%;
  background: #e6e6e6;
  line-height:100px;
  text-align:center; /* centrage horizontal */ }
}
#titrecursive {
  font-family: 'pattayaregular', sans-serif;
  text-align: center;
  min-height: 30px;
  padding-top: 10px;
  font-size: 1.8rem;
}
#logo-entete {
  position: absolute;
  width: 16%;
  z-index: 10;
  overflow: visible;
  top: 25px;
  left:25px;
}
#logo {
  border: #e6e6e6 4px solid;
  background: #295173;
  max-width: 100%;
  min-width: 160px;
  height: auto;
}

/* Styles pour le menu haut principal */

#menuhp {
  height: 100px;
  width: 80%;
  float: left;
  margin-left: 20%;
}
#navhp {
  width: 100%;
  height: 100px;
  vertical-align:middle;
  display:inline-block;
}
#menuhptop {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #295173;
}

ul#navhp {
  list-style: none outside none;
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 40px;
}
#navhp li {
  display: inline;
  margin: 10px 5px;
  font-size: 1.0rem;
  line-height: 1.15rem;
  height: 30px;
  /* border-radius: 3%; */
}
#login{
  width: 14%;
  float: left;
}
#navhp li a {
  color: #295173;
  padding: 5px;
}
#navhp li a:hover {
  text-decoration: none;
  background-color: #efefef;
  border-radius: 5%;
}
#navhp li.active a {
  text-decoration: none;
  color: #ec5c1b;
}

/* Styles pour le Flexslider 2 */

.flexslider {
  position: relative;
  padding: 0;
  border: 0px;
}
#compteur {
  position: absolute;
  overflow: visible;
  z-index: 15;
  top : 25px;
  right: 25px;
  max-width: 100%;
  min-width: 50px;
  height: auto;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 400%;
  text-transform: uppercase;
  text-align:center;
  line-height:1.8rem;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}
#compteur p {
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 30%;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}

/* Styles pour le formulaire de recherche sur HP */

div#search-box {
  width: 100%;
  padding: 5px;
  background: #99D420;
  min-height: 70px;
  border-bottom: #ec5c1b solid 4px;
}
div#form-search-hp {
  width: 80%;
  margin: 10px auto;
  vertical-align: middle;
}
input {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
input.form-control.col-sm-5 {
  padding:5px;
}
.form-group{
  margin-bottom:10px;
}
.metier {
  float: left;
}

/* Styles des blocs services */

#main-services {
  width: 76%;
  float: left;
  margin-right: 2%;
  min-height: 600px;
}
section#services {
  width: 100%;
}
#first-service-box {
  margin-left: 2%;
}
.service-box {
  float: left;
  width: 23%;
  margin-right: 1.5%;
}
.bloc-text {
  width: 100%;
}
h3 {
  font-size: 1.1rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
div .bloc-text p {
  font-size: 0.9rem;
  text-align: center;
}

/* Styles des pictos SVG avec rollover */

.picto-box {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.picto-box svg {
  width: 100%;
  max-width: 120px;
  min-width: 50px;
  height: auto;
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity:1 !important;
  stroke-opacity:1 !important;
}

/* Styles pour la Section actualités */

section#actualites {
  width: 98%;
  margin: 10px auto;
  clear: left;
  float: left;
}
.separation{
  width: 100%;
  border-top: 2px solid #c9c9c9;
  margin-left:25px;
}
h2 {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  min-height: 30px;
  padding: 0 auto;
  vertical-align: middle;
}
#first-actu-box {
  margin-left: 3%;
}
.actu-box {
  float: left;
  width: 31%;
  margin-right: 1.5%;
}
.bloc-text {
  width: 100%;
  margin-top: 10px;
}
div .bloc-text p {
  font-size: 0.8rem;
  text-align: center;
}
.img-actu-box {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.img-actu-box img {
  width: 100%;
  height: auto;
}
#last-actu-box {
  margin-right: 0 !important;
}

/* Styles pour la Sidebar de droite */

aside#flux-RSS {
  width: 22%;
  float: left;
  /* background: #e5e5e5; */
  min-height: 600px;
  height: auto;
  padding: 8px;
  margin-top: 15px;
  border-left: 2px solid #c9c9c9;
}
.h3_rss{
  background:#295173;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.p_rss{
  font-size:110%;
  text-align: center;
  border-bottom: 2px dotted #c9c9c9;
}
.logopub{
  /* margin-top: 30px; */
  border: 1px solid #295173;
  margin-left: 2%;
}
/* Styles du footer (bas de page) */

#footer {
  clear:both; /* forcer l’affichage sous le contenu et la colonne */
  background: #295173;
  color:#fff;
  min-height:50px;
  padding:25px;
  /* text-align:center; */
}
.footerContainerBox{
  height: 150px;
  float: left;
  width: 15%;
  margin-left: 30px;
}
.footerPresentation {
  width: 100%;
  background: #2A5073;
}
.footerPresentation ul li a {
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  color:#99D420;
  font-size: 1.2em;
  position: relative;
  float: left;
  margin: 5px 25px;
}
.footerPresentation ul {
  list-style: none outside none;
  margin:0;
  padding: 0;
  text-align: center;
}
.footerPresentation li {
  margin: 0 40px;
  display: inline;
}

/* Styles page Présentation */

.textePresentation {
  height: 70px;
  width: 100%;
  background: #99D420;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
}
.asidePresentation {
  float: left;
  background: #a4a4a4;
  width: 20%;
  height: auto;
}
.sectionPresentation {
  float: left;
  width: 80%;
  padding-left: 10px;
  background:#E6E6E6;
  font-size:1.6em;
  height: auto;
}
.paragraphePresentation {
  padding-top: 15px;
  position: relative;
  padding-bottom: 1rem;
}
.pictoPresentation {
  padding-left: 20%;
}
.pictoPresentation svg {
  padding-bottom: 5%;
  padding-top: 5%;
}

/*********** Structure + sidebar à gauche pour pages ***********/

#mainContainerPage{
  min-height: 100%;
  background: #71767F url('../img/motif/motif-sidebar-left-bleu-300px.png') repeat-y;
}
.sidebarLeft {
    float: left;
    padding-top: 40px;
    width: 20%;
    min-height: 100vh;
}
p.labelPicto {
  font-size: 0.85rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding:0px;
  margin: 0px;
}
.mainContentRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  background: #fff;
}

/*********** Media Queries ***********/
@media screen and (max-width: 1050px) {

    #logo-entete {
      position: absolute;
      width: 16%;
      z-index: 10;
      overflow: visible;
      top: 15px;
      left:15px;
    }

    #navhp li {
      margin: 6px 6px;
      font-size: 0.75rem;
      height: 25px;
    }

    #compteur {
      top : 20px;
      right: 20px;
      max-width: 100%;
      height: auto;
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      line-height:1.3rem;
      font-size: 250%;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
    #compteur p {
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      font-size: 35%;
      color: #ec5c1b;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
}
.dropdown-item:link {

  line-height: 20px;
}
@media screen and (max-width: 790px)
{

}

@media screen and (max-width: 590px)
{

}
