/* FEUILLE DE STYLES PRINCIPALE */
/****** Styles pour écran (screen) ******/

/* Styles généraux pour toutes les pages */

html {
  font-size: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10.4px;
  font-size: 0.65rem;
  color: #000;
  background: #dcdcdc url('../img/motif/fd-pictos-outils-couleur-fd-blanc.png');
}
#wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  border-right: #71767f 1px solid;
  border-left: #71767f 1px solid;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

/* Header (haut de page) -> header.blade.php */

#header {
  position: relative;
  height: 100px;
  width: 100%;
  background: #e6e6e6;
  line-height: 100px;
  text-align: center; /* centrage horizontal */
}
#logo-entete {
  position: absolute;
  width: 16%;
  z-index: 10;
  overflow: visible;
  top: 25px;
  left: 25px;
}
#logo {
  border: #e6e6e6 4px solid;
  background: #295173;
  max-width: 100%;
  min-width: 160px;
  height: auto;
}

/* Menu haut principal */

#menuhp {
  height: 100px;
  width: 82%;
  /* float: left; */
  margin-left: 18%;
}
#navhp {
  width: 100%;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
}
#menuhptop {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #295173;
  margin-bottom: 10px;
}

ul#navhp {
  list-style: none outside none;
  margin: 0;
  padding: 10px;
  text-align: center;
  height: 40px;
}
#navhp li {
  display: inline;
  margin: 10px 5px;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 18.4px;
  line-height: 1.15rem;
  height: 30px;
}
#navhp li a {
  color: #295173;
  padding: 5px;
}
#navhp li a:hover {
  text-decoration: none;
  background-color: #efefef;
  border-radius: 5%;
}
#navhp li.active a,
#navhp li a.active {
  text-decoration: none;
  color: #ec5c1b;
}

/************************/
/* HOME PAGE PRINCIPALE */
/************************/

/* Flexslider 2 */

.flexslider {
  position: relative;
  padding: 0;
  border: 0px;
}

/* Compteur sur le Flexslider */

#compteur {
  position: absolute;
  overflow: visible;
  z-index: 15;
  top : 25px;
  right: 25px;
  max-width: 100%;
  min-width: 50px;
  height: auto;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 400%;
  text-transform: uppercase;
  text-align:center;
  line-height: 28.8px;
  line-height:1.8rem;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}
#compteur p {
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 30%;
  color: #ec5c1b;
  text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
}

/* HP -> formulaire de recherche */

div#search-box {
  width: 100%;
  padding: 5px;
  background: #99D420;
  min-height: 70px;
  border-bottom: #ec5c1b solid 4px;
}
div#form-search-hp {
  width: 80%;
  margin: 10px auto;
  vertical-align: middle;
}
input {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
input.form-control.col-sm-5 {
  padding:5px;
}
.form-group {
  margin-bottom:10px;
}
.metier {
  float: left;
}

/* HP -> Section services */

h1#baseline {
  font-family: 'pattayaregular', sans-serif;
  font-size: 28.8px;
  font-size: 1.8rem;
  text-align: center;
  min-height: 30px;
  padding: 20px 5px;
  vertical-align: middle;
  color: #898E9B;
}
#main-services {
  width: 76%;
  float: left;
  margin-right: 2%;
  min-height: 600px;
}
section#services {
  width: 100%;
}
.serviceGrid{
  /* display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; */
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  /* grid-row-gap: 1%; */
}
.serviceBox {
  width: 100%;
}
div.ServiceBoxText {
  width: 100%;
  text-align: center;
}
div.ServiceBoxText h3,
div.ActuBoxText h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-bottom: 0;
}
div.ServiceBoxText p {
  font-size: 14.4px;
  font-size: 0.9rem;
  text-align: center;
}

/* HP - Pictos SVG avec rollover */

.picto-box {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.picto-box svg {
  width: 100%;
  max-width: 120px;
  min-width: 50px;
  height: auto;
  border: 4px solid #e6e6e6;
  border-radius: 50%;
}
.picto-box svg:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}
.picto-box a:hover svg #pictoannuaire {
  fill: #204159 !important;
}
.picto-box a:hover svg #pictoinscription {
  fill: #8dba1e !important;
}
.picto-box a:hover svg #pictorendezvous {
  fill: #713527 !important;
}
.picto-box a:hover svg #picto-devis {
  fill: #d14d19 !important;
}
a:hover #picto-annu-lum-1, a:hover #picto-annu-lum-2,
a:hover #picto-annu-lum-3, a:hover #picto-annu-lum-4,
a:hover #picto-annu-lum-5, a:hover #picto-annu-lum-6,
a:hover #picto-annu-lum-7, a:hover #picto-annu-lum-8,
a:hover #picto-annu-lum-9 {
  fill: #fd9400 !important;
  stroke: #fd9400 !important;
  fill-opacity:1 !important;
  stroke-opacity:1 !important;
}
.BtnPicto { /* Boutons bulles (tooltip popover) pour responsive */
  display: none;
}

/* HP -> Section actualités */

section#actualites {
  width: 100%;
  margin: 10px 10px;
  float: left;
}
.separator{
  width: 100%;
  border-top: 2px solid #c9c9c9;
  padding: 0.5% 1%;
}
h2#titleHP {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  min-height: 30px;
  padding: 0 auto;
  vertical-align: middle;
  margin: 10px 0;
}
.first-actu-box {
  margin-left: 2.5%;
  /* margin-top: 5px; */
}
div.ActuBox {
  float: left;
  width: 31%;
  margin-right: 1.5%;
}
div.ActuBoxText {
  width: 100%;
  margin-top: 10px;
}
div.ActuBoxText p {
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: center;
}
div.ActuBoxImg {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
div.ActuBoxImg img {
  width: 100%;
  height: auto;
  border: 1px solid #9EA5B2;
  border-radius: 3%;
}
div.ActuBoxImg img:hover { /* rollover photo au passage de la souris */
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
#last-actu-box {
  margin-right: 0 !important;
}

/* HP - Sidebar à droite */

aside#flux-RSS {
  width: 22%;
  float: left;
  /* background: #e5e5e5; */
  min-height: 500px;
  height: auto;
  padding: 8px;
  margin-top: 15px;
  border-left: 2px solid #c9c9c9;
}
.h3_rss {
  font-size: 16px;
  font-size:1.0rem;
  background:#295173;
  color:white;
  padding: 5px;
}
.p_rss {
  font-size:110%;
  text-align: center;
  border-bottom: 2px dotted #c9c9c9;
}
.logopub { /* Désactivé pour l'instant */
  border: 1px solid #295173;
  margin-left: 2%;
}

/* Footer (bas de page) -> footer.blade.php */

#footer {
  clear:both; /* forcer l’affichage sous le contenu et la colonne */
  background: #295173;
  min-height: 100px;
  padding: 25px;
  width: 100%;
  max-width: 1280px;
}
.footerLinks {
  width: 50%;
  font-family: 'robotoregular', Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  float: left;
}
.footerOneColText {
  float: left;
  width: 32%;
  border-right: #33668C 1px solid;
  margin-right: 1%;
}
.footerOneColTitle {
  font-size: 14.4px;
  font-size: 0.9rem;
  color: #99D420;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
}
.footerLinkText {
  color: #CCCCCC;
  line-height: 16px;
  line-height: 1.0rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
.footerLinkText a {
  color: #CCCCCC;
  line-height: 12.8px;
  line-height: 0.8rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
.footerLinkText a:hover {
  color: #fff;
  text-decoration: none;
}

/* Footer - Carte de l'Eure */

#footerMap {
  width: 50%;
  float:right;
  height: 220px;
  min-width: 320px;
  margin-bottom: 20px;
}
#footerIframe {
  border: 0;
  width: 100%;
  height: 100%;
}

/* Footer - Logos remerciements */

.footerLogos {
  margin-top: 10px;
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  /* justify-content: space-around; */
}
.footerLogos img {
  max-height: 60px;
  width: auto;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 4%;
}
.footerLogos img:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
}
.footerLogos a {
  /* max-width: 188px; */
  text-align: center;
  max-width: 190px;
}

/****************************/
/* STYLES PAGES INTERIEURES */
/****************************/

/* Main + Sidebar à gauche -> front/sidebarLeft.blade.php */

#mainContainerPage{
  overflow: auto;
  background: #fff url('../img/motif/motif-maison-gris.png') repeat-y;
}
.sidebarLeft {
    float: left;
    padding: 5% 5px 10px;
    width: 20%;
    border-right: 1px solid #CCCCCC;
}
.mainContentRight {
  /* float: right; */
  min-height: 716px;
  background: #fff;
  width: 80%;
  margin-left: 20%;
}

/* Pictos de la Sidebar left */

.pictoSidebarLeft svg {
  margin-top: 5%;
}
p.labelPicto {
  font-size: 13.6px;
  font-size: 0.85rem;
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding:0px;
  margin: 0px;
}
p.labelPicto a {
  background: #E5E5E5;
  padding: 0 3px;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
}
p.labelPicto a:hover {
  background: #fff;
}

/* Titres des pages intérieures */

h1#titlePageInt {
  width: 100%;
  min-height: 50px;
  padding-top: 12px;
  margin-bottom: 0;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background: #99D420;
  font-size: 24px;
  font-size: 1.5rem;
  text-align:center;
  vertical-align: middle;
  color: white;
}
h2#titlePageInt {
  width: 100%;
  min-height: 30px;
  display: inline-table;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #000;
  font-size: 19.2px;
  font-size: 1.2rem;
  text-align:center;
  vertical-align: middle;
  padding: 10px;
  background: #B3ED26;
}
/******************************/
/* PAGE ANNUAIRE DES SOCIETES */
/******************************/

h3#titlePgSocError {
  width: 100%;
  min-height: 30px;
  display: inline-table;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #fff;
  font-size: 19.2px;
  font-size: 1.2rem;
  text-align:center;
  vertical-align: middle;
  padding: 10px;
  background: red;
}
h5.PgAnnu {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 0;
  /* line-height: 1.2rem; */
  color: #F25C19;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.FlexBoxPgAnnu {
  width: 96%;
  min-height: 625px;
  margin: auto auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.PgAnnuBlocCat {
  float: left;
  margin:1%;
  background:-webkit-linear-gradient(#53b0ff ,#295173);
  background:linear-gradient(#53b0ff ,#295173);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.PgAnnuBlocCat .dropdown-item:link {
  line-height: 30px;
}
.dropdown-menu li a {
  color: #000;
  font-size: 0.9em;
  border-radius: 10px;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  border-bottom: 3px solid #EB7900;
}
.dropdown-menu li a:hover {
  background: transparent;
  color:#EB7900;
}
.dropdown-toggle {
  padding:0px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

/****************************/
/* PAGE PROFIL VOS SOCIETES */
/****************************/

/* Icônes des champs de sociétés */

.SectionFichesSte {
  width: 96%;
  min-height: 540px;
  margin: auto auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.fichePresentSte {
  position: relative;
  background: #E5E5E5;
  max-width: 300px;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
  /* clear: both;
  overflow: hidden; */
}
.logoBoxSte {
  text-align: center;
  background: -webkit-linear-gradient(#295173,#53b0ff);
  background: linear-gradient(#295173,#53b0ff);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#ficheBoxSte {
  width: 100%;
  margin-bottom: 80px;
}
.ImglogoSte {
padding-top: 20px;
}
.textFichSte {
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  font-size: 13.6px;
  font-size: 0.85rem;
  padding-left: 10px;
  line-height: 16px;
  line-height: 1.0rem;
  margin-bottom: 10px;
}
.description {
  line-height: 20px;
  text-decoration:underline;
}
.linkBtn {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'roboto_condensedbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  margin-top: 30px;
}
.linkBtn a {
  margin: 0px;
  text-transform: uppercase;
}
.fa-user,.fa-address-card,
.fa-map-marker-alt,
.fa-map-signs,.fa-phone-square,
.fa-globe,.fa-envelope,.fa-edit {
  color: #2A5073;
}

/****************************/
/* STYLES PAGE PRESENTATION */
/****************************/

h5.pgPresent {
  background: #295173;
  padding-left: 10px;
  line-height: 40px;
  color:#99D420;
}
.boxPresent {
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
p.txtPresent {
  padding: 0 15px;
  font-size: 16.8px;
  font-size:1.05rem;
}
em.italic {
  font-style: italic;
}
ul.listPgPresent {
 list-style: square inside url('../img/picto/puce-fleche.png');
 padding-left: 2.5%;
 font-size: 16.8px;
 font-size:1.05rem;
}
ul.listPgPresent a, p.txtPresent a {
  background: #E5E5E5;
  border-radius: 3px;
  padding: 0px 3px;
  color: #000;
  text-decoration: none;
}
ul.listPgPresent a:hover, p.txtPresent a:hover {
  background: #B3ED26;
  border-radius: 3px;
  padding: 0px 3px;
  color: #000;
}
.pictoPresentation {
  padding-left: 20%;
}
.pictoPresentation svg {
  padding: 5% 0;
}

/*************************/
/* PAGE MENTIONS LEGALES */
/*************************/

div.PgMentionsLegales {
  background: rgba(232, 232, 232, 0.59);
  padding: 20px;
  font-size: 16px;
  font-size: 1.0rem;
}
div.PgMentionsLegales h2 {
  font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
}

/* FORMULAIRES */

.containerForm {
  padding: 20px 10px 50px;
}
.formBox {
  width: 50%;
  min-width: 250px;
  border-radius: 10px;
  background: #295173;
  margin: 20px auto;
}
.btn-primary { /* boutons bootstrap modifiés (modifier | supprimer) */
  margin-top: 20px;
  background-color: #33668C;
  border-color: #295173;
  font-size: 1.0rem;
  font-family: 'roboto_slabbold', Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.btn-primary:hover {
  background: #F25C19;
}
.redirect {
  color: #fff;
}
.btn-danger {
  background-color: #ec5c1b;
  border-color: #ec5c1b;
  text-transform: uppercase;
}
input#logo {
  background-color: #FCFCFC;
}
div.checkbox label {
  color: #fff;
  font-size: 1.0rem;
}
a.btn-link {
  margin-top: 10px;
  color: #fff;
  font-size: 1.0rem;
}
a.btn-link:hover {
  color: #B3ED26;
  text-decoration: none;
}
.help-block {
  display: block;
  color: #fff;
  font-size: 1.0rem;
  padding-top: 15px;
}

/********** STYLES SPECIAUX **********/

.clearfix {
  content: ""; /* Important pour générer la séparation. */
  display: table;
  clear: both;
}

/* Surcharges Bootstrap */
/* Menus */
.dropdown-menu a {
  background: #FCFCFC;
  color: #295173;
}
.dropdown-item.active, .dropdown-item:active {
  background: #FCFCFC;
  color: #EC5C1B;
}
.dropdown-item:link { /* hauteur des interlignes des boîtes à liste */
  line-height: 20px;
}
.width100 { /* largeur des alertes à 100% */
  width: 100%;
  text-align:center
}
/* Formulaires */
.alert-danger { /* Taille de la police message d'alert */
  font-size: 19.2px;
  font-size: 1.2rem;
  color: tomato;
}

/*********** Media Queries ***********/
@media screen and (max-width: 1050px) {

    #header {
      position: static;
      height: auto;
      min-height: 200px;
      line-height: 25px;
      width: 100%;
      text-align: center;
    }
    #logo-entete {
      position: static;
      margin: 0 auto;
      padding-top: 10px;
      width: 100%;
      max-width: 300px;
    }
    #menuhp {
      height: auto;
      width: 100%;
      margin-left: 0;
    }
    #menuhptop {
      margin: 10px 0;
    }
    #navhp {
      height: auto;
    }
    #navhp li {
      margin: 0;
      /* font-size: 1.0rem; */
      height: auto;
      line-height: 25px;
    }
    #compteur {
      top : 20px;
      right: 20px;
      max-width: 100%;
      height: auto;
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      line-height:1.3rem;
      font-size: 250%;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
    #compteur p {
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
      font-size: 35%;
      color: #ec5c1b;
      text-shadow: -1px -1px 0px #efefef, 1px 1px 0px #295173;
    }
    #footerMap {
      width: 100%;
      clear: both;
      height: 350px;
    }
    .serviceGrid{
      /* display: flex;
      justify-content: space-around;
      flex-flow: row wrap; */
      width: 98%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 25px;
      grid-auto-flow: row;
      /* grid-auto-columns: 1fr; */
      /* grid-row-gap: 1%; */

    }
    #serviceBox3 {
      float: left;
    }
    .footerLinks {
      width: 100%;
      clear: both;
      font-size: 0.75rem;
      margin-bottom: 15px;
    }
    .footerOneColTitle {
      font-size: 0.85rem;
    }
    aside#flux-RSS {
      width: 100%;
      clear: both;
    }
    #main-services {
      width: 100%;
      clear: both;
      margin-right: 0;
      min-height: 600px;
    }
    .sidebarLeft {
        padding: 1% 4px 4px;
    }
}

@media screen and (max-width: 790px)
{
    .footerLinks {
      width: 100%;
      clear: both;
      font-size: 0.75rem;
      margin-bottom: 15px;
    }
    .footerOneColTitle {
      font-size: 0.85rem;
    }
    /* passage du menu haut en vertical */
    #header {
      text-align: left;
    }
    #menuhp {
    width: 280px;
    margin: 0 auto;
    }
    #menuhptop {
      margin: 0 0 10px;
    }
    ul#menuhptop {
      padding-left: 5px;
    }
    #navhp li {
      display: block;
      border-bottom: #CCCCCC 1px solid;
      background: url('../img/picto/puce-fleche-bleu-menu-top.png') no-repeat 0 0.32em;
      padding-left: 15px;
    }
    #navhp li:hover {
      background: #efefef url('../img/picto/puce-fleche-orange-menu-top.png') no-repeat 0 0.32em;
      padding-left: 15px;
    }
    #navhp li a:hover {
      background-color: transparent;
      color: #ec5c1b;
      border-radius: 0;
    }
    #navhp li.active a,
    #navhp li a.active {
      text-decoration: none;
      color: #ec5c1b;
    }
    div.dropdown-menu {
      background-color: #efefef;
      padding: 0;
      margin: 0;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    }


    p.txtPresent {
      padding: 0 12px;
      font-size: 0.85rem;
    }
    ul.listPgPresent {
      font-size: 0.85rem;
    }
}

@media screen and (max-width: 590px)
{
    /* .serviceBox {
      position: static;
      clear: left;
      width: 100%;
    } */
    /* apparition des tooltip (bulles) */
    .BtnPicto {
      display: contents;
      margin: 0 auto;
    }
    .TxtPicto {
      display: none;
    }
    h1#baseline {
      font-size: 1.2rem;
      padding: 10px 5px;
    }
    h2#titleHP {
      font-size: 1.2rem;
      min-height: 20px;
    }
    p.txtPresent {
      padding: 0 8px;
      font-size: 0.75rem;
    }
    ul.listPgPresent {
      font-size: 0.65rem;
    }
    p.labelPicto {
      font-size: 0.60rem;
      font-family: 'roboto_slabbold', Georgia, Times, 'Times New Roman', serif;
    }
    #footer {
      padding: 10px;
    }
    .footerOneColTitle {
      font-size: 0.75rem;
    }
    #footerMap {
      height: 280px;
      min-width: 300px;
    }
}
